<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mi Página Web</title>
</head>
<body>
    <h1>EMPLEADOS</h1>
    <div class="form-container">
    <h2>Iniciar Sesión</h2>
    <form action="/login" method="POST">
        <label for="nombre">Nombre:</label>
        <input type="text" id="username" name="username" required>

        <label for="password">Apellido:</label>
        <input type="password" id="password" name="password" required>

        <button type="submit">Ingresar</button>
    </form>
</div>
</body>
</html>